.singupword {
  color: var(--salmon-pink);
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  padding-top: 30px;
  margin-left: -10%;
  margin-bottom: 8%;
}
.inputs {
  width: 526px;
  height: 58px;
  border: 2px solid var(--salmon-pink);
  border-radius: 10px;
}
.inputsword {
  font-weight: 700;
  font-size: 16px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 370px;
  text-align: left;
}
.spaces {
  margin-top: 25px;
}
.Add_button {
  background-color: var(--salmon-pink);
  color: #ffffff;
  padding: 7px 17px;
  border-radius: 10px;
  border-color: var(--salmon-pink);
  font-weight: 400;
  font-size: 20px;
 
  margin-left: 6%;
}
.aline {
  text-align: center;
}
.size_bnt_login {
  padding: 10px 40px;
}
.logWord {
  text-decoration: none;
}
